<div class="container">
  <br />
  <br />
  <div class="row">
    <div class="col-6">
      <div class="card" style="width: 30rem">
        <div class="card-body">
          <h5 class="card-title">Facture Form</h5>
          <hr />
          <form>
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="floatingInput" />
              <label for="floatingInput">Montant Facture</label>
            </div>
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="floatingPassword" />
              <label for="floatingPassword">Remise</label>
            </div>
            <div class="form-floating mb-3">
              <input type="date" class="form-control" id="floatingInput" />
              <label for="floatingInput">Date </label>
            </div>
            <button type="submit" class="btn btn-primary">Suivant</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card" style="width: 35rem">
        <div class="card-body">
          <h5 class="card-title">Details Facture Form</h5>
          <hr />
          <form>
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="floatingInput" />
              <label for="floatingInput">Quantité</label>
            </div>
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="floatingPassword" />
              <label for="floatingPassword">Pourcentage Remise</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInput" />
              <label for="floatingInput">Prix Totale </label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
